### List and List related examples

In [11]:
li=[1,2,3,4,5]
print(len(li)) #len() will return the length of the list

5

In [3]:
li[2]= 1954 #Updating the list value
print(li)

[1, 2, 1954, 4, 5]

In [4]:
del li[3] #del the specific index value
# del li will delete the entire list

In [5]:
print(li)

[1, 2, 1954, 5]

In [13]:
print(li[-1])# To access the last item of the list
print(li[-2])
print(li[1:4])# List slicing
print(li[3:4])

5
4
[2, 3, 4]
[4]

In [12]:
print(sum(li)) # sum of elements of list
print(min(li)) # Minimum value of the list
print(max(li)) # Maximum value of the list
print(sum(li) // len(li)) # Average value of the list
# Find the output as the avg of alternate numbers

15
1
5
3

### List Methods

In [14]:
li.append(100) # Append will insert the new item at the end
li

[1, 2, 3, 4, 5, 100]

In [15]:
li.insert(3,59) # Inserts the new item at any specified postion
li

[1, 2, 3, 59, 4, 5, 100]

In [16]:
li.count(100)

1

In [21]:
print("Index = ", end = ' ')
li.index(59) # Index gives the position of a specific item

Index =

3

In [22]:
li.sort() # Sorts the entire list
li

[1, 2, 3, 4, 5, 59, 100]

In [32]:
li.pop() # Pop removes the value at the last of the list
li

[1, 2, 3, 4, 5]

In [44]:
# Define a function to print the second largest number of a list
# Input -- li[1,9,16,25,2,3,65]
# Output -- 25 

def secondLarge(li):
    li.sort()
    return li[-2]
li=[1,9,16,25,2,3,65]
secondLarge(li)

25

In [45]:
def genericLarge(li,n):
    li.sort()
    return li[-n]
li=[1,9,16,25,2,3,65]
genericLeast(li,1)

2

In [46]:
def genericLeast(li,n):
    li.sort()
    return li[n]
li=[1,9,16,25,2,3,65]
genericLeast(li,0)

1

### Number to List Conversion
- 19563212 -- [1,9,5,6,3,2,1,2]

In [52]:
def numberToList(n):
    li=[] #Empty list
    while n!= 0:
        r = n % 10
        li.append(r)
        n = n // 10
    li.reverse()
    return li
numberToList(19563212)

[1, 9, 5, 6, 3, 2, 1, 2]

### Data Structures - Tuples
- It is similar to List
- List will be enclosed inside square brackets [ ]
- Tuples will be enclosed inside paranthesis ( )
- List can be increased or decreased
- Tuples can't be increased or decreased
- Lists are Mutable but Tuples are Immutable
- Lists are used for Read/Write but Tuples are used only for Reading

In [53]:
t1=(1,2,3,4,5)
t1

(1, 2, 3, 4, 5)

In [54]:
t1[0:4]

(1, 2, 3, 4)

In [56]:
t1[2]=123

TypeError: 'tuple' object does not support item assignment

In [58]:
del t1[3]

TypeError: 'tuple' object doesn't support item deletion

### Data Structure - Dictionaries
- This data structure object works on set of key and values
- A unique key set will be defined
- Every key will be separated from it's value with a colon (:)
- Every key value pair is seperated by comma (,)
- Dictionary will be defined inside the curly braces { }
- Dictionaries are Mutable

In [59]:
d1={"Name":"Bhargav","EmailID":"bhargavaram14@gmail.com","Mobile Number":"7893612597"}
print(d1)

{'Name': 'Bhargav', 'EmailID': 'bhargavaram14@gmail.com', 'Mobile Number': '7893612597'}

In [60]:
print(d1["EmailID"]) # To access the specific key value

bhargavaram14@gmail.com

In [61]:
d1["Mobile Number"] = 6301062654 # Updates the dictionary value

In [62]:
del d1["Mobile Number"] # Delete the specified key

### Contact Application
 - Used Modules : Dictionary, List, Tuples
#### Modules of Contact Application

 - Add Contacts
 - Search Contacts
 - Import new contacts
 - Update the contact details
 - Delete the contact details

In [65]:
#Define the Function for Add Contacts
contacts = {} #Empty Dictionary Object
def addContacts(name,phone):
    if name not in contacts:
        contacts[name] = phone
        print("Contact added")
    else:
        print("Contact not added")
    return
addContacts('Bhargav',7893612597) # Contact Added
addContacts('Paul',9988531248) # Contact Added
addContacts('Paul',9988531248) # Contact not added

Contact added
Contact added
Contact not added

In [66]:
contacts

{'Bhargav': 7893612597, 'Paul': 9988531248}

In [69]:
# Define funtion for Search contacts
def searchContacts(name):
    if name in contacts:
        print(name , ':' , contacts[name])
    else:
        print('Contact is not present')
    return 
searchContacts('Bhargav')
searchContacts('Paul')
searchContacts('Vishnu')

Bhargav : 7893612597
Paul : 9988531248
Contact is not present

In [70]:
# Define the function for import the new contacts
def importNewContacts(newContacts):
    contacts.update(newContacts)
    print('New contacts are added')
    return
newContacts = {"Vishnu":9122579146,"Tharun":8845571365}
importNewContacts(newContacts)

New contacts are added

In [75]:
# Define a function for Update details
def updateDetails(name,phone):
    if name in contacts:
        contacts[name] = phone
        print("Contact update is successful")
    else:
        print("Please add new contact details")
    return
updateDetails('Tharun',9988455656) # Update is successful
updateDetails('Tushar',9988455656) # PLease add new details

Contact update is successful
Please add new contact details

In [77]:
# Define a function to delete the contact details
def deleteContacts(name):
    if name in contacts:
        del contacts[name]
        print('Contact is deleted')
    else:
        print('Contact not present')
    return
deleteContacts('Vishnu')

Contact is deleted

In [79]:
contacts

{'Bhargav': 7893612597, 'Paul': 9988531248, 'Tharun': 9988455656}

### Features to be added
- Verifying the number has 10 digits
- Merging of contacts
- Exporting contacs to External storage
- Changing the format of the contacts
- Able to save the contacts directly to the cloud services

### String to List Conversion
- "1 2 3 4 5 6" - [1,2,3,4,5,6]

In [86]:
s = "Application Test Working"
li = s.split()
print(li)

['Application', 'Test', 'Working']

In [87]:
s1 = "Gitam hyderabad Python Programming"
li1 = s1.split('a')
print(li1)

['Git', 'm hyder', 'b', 'd Python Progr', 'mming']

In [85]:
# Define a function to convert String into List
def stringToList(s):
    li= s.split() #Empty list
    numberList = []
    for i in li:
        numberList.append(int(i))
    return numberList   
s = input("Enter the Numbers") # Divide the Input with white spaces
stringToList(s)

Enter the Numbers1 2 3 4 5 6

[1, 2, 3, 4, 5, 6]